.main {
  flex: 1;
}

.bg-dark {
  background-color: #12002b;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav a.router-link-exact-active {
  color: #42b983;
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}

.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

.hero {
  background-image: url("../images/bank-tree.jpeg");
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

.hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}

.hero-content .subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}

.error_404 {
  width: 90%;
  margin: auto;
}

.block_img {
  width: 50%;
  margin: auto;
}
.error_404 img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

.block_link {
  width: 100%;
  margin: 2em auto;
}

.link_back-to-home {
  text-decoration: none;
  color: #2c3e50;
  font-size: 1em;
  background-color: #42b983;
  padding: 1em;
  border-radius: 10px;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.2s;
}

.link_back-to-home:hover {
  transform: scale(1.8);
  background-color: #024427;
  color: #fff;
}

.error_400{
  color: #be0b0b;
  font-weight: 800;
  font-size: 0.9em;
}

.links_list{
  list-style-type: none;
}